.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  margin-top: 0%;
  color: pink;
  margin-left: auto;
  font-size: 100px;
  font-weight: 600;
}

.chatbox{
  margin-top: -2%;
  margin-right: auto;
  margin-left: auto;
}

.instructions{
  color: pink;
  margin-left: auto;
  margin-top: 3%;

}

.i{
  text-align: left;
  font-size: 30px;
}

#h{
  font-weight: bold;
  margin-bottom: 4%;
}

.mainContainer{
  display: flex;
}

